.pslzme-slide-in-right {
	position: fixed;
	animation-name: pslzme-slide-in-right;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
}

@keyframes pslzme-slide-in-right {
	0% {
		transform: translateX(100%);
	}
	50% {
		transform: translateX(50%);
	}
	100% {
		transform: translateX(0%);
	}
}
