.pslzme-video {
	position: relative;
	width: 100%;
	height: auto;
}

.pslzme-ov-image-container {
	position: relative;
	overflow: hidden;
}

.pslzme-ov-image-container .pslzme-background-figure {
	position: relative;
	z-index: 1;
}

.pslzme-ov-image-container .pslzme-foreground-figure {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	margin: 0;
	width: 100%;
	height: 100%;
}

.pslzme-ov-image-container .layered-text {
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 2;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
	font-weight: bold;
}

@media (max-width: 1366px) {
	.pslzme-video video {
		width: 100%;
		height: auto;
	}
}
