services:
  _defaults:
    autowire: true
    autoconfigure: true

  RobinDort\PslzmeLinks\Service\Backend\DatabasePslzmeConfigStmtExecutor:
    arguments:
      $connection: "@database_connection"
    public: true

  RobinDort\PslzmeLinks\Service\DatabaseConnection:
    arguments:
      $dbStmtExecutor: "@RobinDort\\PslzmeLinks\\Service\\Backend\\DatabasePslzmeConfigStmtExecutor"
    public: true

  RobinDort\PslzmeLinks\Service\DatabaseManager:
    arguments:
      $dbc: "@RobinDort\\PslzmeLinks\\Service\\DatabaseConnection"
      $logger: "@?logger"
    tags:
      - { name: monolog.logger, channel: contao.cron }
    public: true

  RobinDort\PslzmeLinks\Service\DatabaseStatementExecutor:
    arguments:
      $db: "@RobinDort\\PslzmeLinks\\Service\\DatabaseConnection"
    public: true

  RobinDort\PslzmeLinks\Controller\RequestHandlerController:
    tags: [controller.service_arguments]
    public: true

  RobinDort\PslzmeLinks\Service\Api:
    public: true

  RobinDort\PslzmeLinks\EventListener\InstallListener:
    arguments:
      $kernel: "@kernel"
    tags:
      - { name: contao.hook, hook: initializeSystem, method: copyTemplates }

  RobinDort\PslzmeLinks\Controller\Page\PslzmePageController:
    tags:
      - { name: "contao.page", type: "pslzme" }

  RobinDort\PslzmeLinks\Controller\FrontendModule\PslzmeCookiebarController:
    tags:
      - { name: "contao.frontend_module", type: "pslzme_cookiebar", category: "pslzme", template: "mod_pslzme_cookiebar" }

  RobinDort\PslzmeLinks\Controller\FrontendModule\QueryDecryptionController:
    arguments:
      $conn: RobinDort\PslzmeLinks\Service\DatabaseConnection;
    tags:
      - { name: "contao.frontend_module", type: "pslzme_query_decryption", category: "pslzme", template: "mod_query_decryption" }
